<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>controler</servlet-name>
        <servlet-class>servlet.controler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>archivos</servlet-name>
        <servlet-class>servlet.archivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargaJuegos</servlet-name>
        <servlet-class>servlet.cargaJuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargaNaves</servlet-name>
        <servlet-class>servlet.cargaNaves</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>juegoActual</servlet-name>
        <servlet-class>servlet.juegoActual</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>reportes</servlet-name>
        <servlet-class>servlet.reportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bienvenidoJugador</servlet-name>
        <servlet-class>servlet.bienvenidoJugador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setearImagen</servlet-name>
        <servlet-class>servlet.setearImagen</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pruebasImagenes</servlet-name>
        <servlet-class>servlet.pruebasImagenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setearImagenMatrizSatelite1</servlet-name>
        <servlet-class>servlet.setearImagenMatrizSatelite1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setearIMA1</servlet-name>
        <servlet-class>servlet.setearIMA1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setearIMB1</servlet-name>
        <servlet-class>servlet.setearIMB1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setearIMS1</servlet-name>
        <servlet-class>servlet.setearIMS1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setearImagenMatrizSatelite2</servlet-name>
        <servlet-class>servlet.setearImagenMatrizSatelite2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setearMAJ2</servlet-name>
        <servlet-class>servlet.setearMAJ2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setearMBJ2</servlet-name>
        <servlet-class>servlet.setearMBJ2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setearMSJ2</servlet-name>
        <servlet-class>servlet.setearMSJ2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargar_archivo_contactos</servlet-name>
        <servlet-class>servlet.cargar_archivo_contactos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>android01</servlet-name>
        <servlet-class>servlet.android01</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cargaHistorialdeJuegos</servlet-name>
        <servlet-class>servlet.cargaHistorialdeJuegos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setearImagenHash</servlet-name>
        <servlet-class>servlet.setearImagenHash</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setearImagenAB</servlet-name>
        <servlet-class>servlet.setearImagenAB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAVL</servlet-name>
        <servlet-class>servlet.adminAVL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>carga_tiros</servlet-name>
        <servlet-class>servlet.carga_tiros</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controler</servlet-name>
        <url-pattern>/controler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>archivos</servlet-name>
        <url-pattern>/archivos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargaJuegos</servlet-name>
        <url-pattern>/cargaJuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargaNaves</servlet-name>
        <url-pattern>/cargaNaves</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>juegoActual</servlet-name>
        <url-pattern>/juegoActual</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reportes</servlet-name>
        <url-pattern>/reportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bienvenidoJugador</servlet-name>
        <url-pattern>/bienvenidoJugador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setearImagen</servlet-name>
        <url-pattern>/setearImagen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pruebasImagenes</servlet-name>
        <url-pattern>/pruebasImagenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setearImagenMatrizSatelite1</servlet-name>
        <url-pattern>/setearImagenMatrizSatelite1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setearIMA1</servlet-name>
        <url-pattern>/setearIMA1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setearIMB1</servlet-name>
        <url-pattern>/setearIMB1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setearIMS1</servlet-name>
        <url-pattern>/setearIMS1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setearImagenMatrizSatelite2</servlet-name>
        <url-pattern>/setearImagenMatrizSatelite2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setearMAJ2</servlet-name>
        <url-pattern>/setearMAJ2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setearMBJ2</servlet-name>
        <url-pattern>/setearMBJ2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setearMSJ2</servlet-name>
        <url-pattern>/setearMSJ2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargar_archivo_contactos</servlet-name>
        <url-pattern>/cargar_archivo_contactos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>android01</servlet-name>
        <url-pattern>/android01</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cargaHistorialdeJuegos</servlet-name>
        <url-pattern>/cargaHistorialdeJuegos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setearImagenHash</servlet-name>
        <url-pattern>/setearImagenHash</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setearImagenAB</servlet-name>
        <url-pattern>/setearImagenAB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAVL</servlet-name>
        <url-pattern>/adminAVL</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>carga_tiros</servlet-name>
        <url-pattern>/carga_tiros</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
